{{> solvatech/header }}
{{> solvatech/navbar }}

<main>

    {{!-- todo esta en orden como viene original --}}
    {{> solvatech/home/slider }}
    {{> solvatech/home/aboutUsIndex }}
    {{> solvatech/home/faqIndex }}
    {{> solvatech/home/services }}
    {{> solvatech/home/whyChoose }}
    {{> solvatech/home/portfolio }}
    {{> solvatech/home/workingProcess }}
    {{> solvatech/home/appointment }}
    {{> solvatech/home/team }}
    {{> solvatech/home/pricing }}
    {{> solvatech/home/testimonial }}
    {{> solvatech/home/blog }}

</main>

{{> solvatech/footer }}
