{{> solvatech/header }}
{{> solvatech/navbar }}

<div class="breadcrumb-wrapper cover-bg" style="background-image: url('{{assetBase}}/assets/images/breadcrumb/breadcrumb-bg.jpg')">
    <div class="container">
        <div class="page-heading">
            <div class="breadcrumb-sub-title">
                <h1 class="wow fadeInUp" data-wow-delay=".3s">Our Pricing</h1>
            </div>
            <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
                <li><a href="./"><i class="bi bi-house-door"></i>Home</a></li>
                <li><i class="bi bi-chevron-right"></i></li>
                <li>Our Pricing</li>
            </ul>
        </div>
    </div>
</div><!-- end .breadcrumb-wrapper -->

<main>
    <section class="pricing-area space-1">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-center mb-55 mb-xs-35">
                        <span class="wnr-section-subtitle wow fadeInUp" data-wow-delay=".3s">Pricing Plan</span>
                        <h2 class="wnr-section-title mb-25 mb-xs-20 wow fadeInUp" data-wow-delay=".3s">Plumbing Service
                            Plans</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-4 wow fadeInUp">
                    <div class="pricing-wrap">
                        <div class="pricing-item-inner">
                            <div class="pricing-icon"><i class="icon-three-low-cost"></i></div>
                            <h4 class="pricing-title">Basic Plan</h4>
                            <div class="pricing">
                                <div class="price"><i class="bi bi-currency-dollar currency"></i> 49 <small>.99</small>
                                </div>
                                <span class="pricing-period">Monthly Package</span>
                            </div>
                            <div class="pricing-features-wrap">
                                <ul class="features-list">
                                    <li class="list-item"><i class="bi bi-check-circle-fill"></i> Dui platea eget
                                        aliquam accumsan</li>
                                    <li class="list-item"><i class="bi bi-check-circle-fill"></i> Amet ex habitant nunc
                                        eleifend</li>
                                    <li class="list-item"><i class="bi bi-check-circle-fill"></i> Mattis nunc sed
                                        blandit libero volu</li>
                                    <li class="list-item"><i class="bi bi-check-circle-fill"></i> Amet ex habitant nunc
                                        eleifend</li>
                                    <li class="list-item"><i class="bi bi-check-circle-fill"></i> Mattis nunc sed
                                        blandit libero volu</li>
                                    <li class="list-unchek"><i class="bi bi-x-circle-fill"></i> <del>Posuere
                                            sollicitudin aliquam ultrices</del></li>
                                    <li class="list-unchek"><i class="bi bi-x-circle-fill"></i> <del>Exclusive Customer
                                            Benefits</del></li>
                                    <li class="list-unchek"><i class="bi bi-x-circle-fill"></i> <del>Support via E-mail
                                            and Phone</del></li>
                                </ul>
                            </div>
                            <div class="pricing-btn-wrap"><a href="./pricing"
                                    class="wnr-btn btn-primary btn-bordered price-btn"><span>Get Started</span><i
                                        class="unicon-arrow-up-right"></i></a></div>
                        </div><!-- end .pricing-item-inner-->
                    </div><!-- end .pricing-wrap-->
                </div>
                <div class="col-md-12 col-lg-4 wow fadeInUp" data-wow-delay=".3s">
                    <div class="pricing-wrap">
                        <div class="pricing-item-inner">
                            <div class="pricing-icon"><i class="icon-three-best-price"></i></div>
                            <h4 class="pricing-title">Advanced Plan</h4>
                            <div class="pricing">
                                <div class="price"><i class="bi bi-currency-dollar currency"></i> 149 <small>.99</small>
                                </div>
                                <span class="pricing-period">Monthly Package</span>
                            </div>
                            <div class="pricing-features-wrap">
                                <ul class="features-list">
                                    <li class="list-item"><i class="bi bi-check-circle-fill"></i> Dui platea eget
                                        aliquam accumsan</li>
                                    <li class="list-item"><i class="bi bi-check-circle-fill"></i> Amet ex habitant nunc
                                        eleifend</li>
                                    <li class="list-item"><i class="bi bi-check-circle-fill"></i> Mattis nunc sed
                                        blandit libero volu</li>
                                    <li class="list-item"><i class="bi bi-check-circle-fill"></i> Amet ex habitant nunc
                                        eleifend</li>
                                    <li class="list-item"><i class="bi bi-check-circle-fill"></i> Mattis nunc sed
                                        blandit libero volu</li>
                                    <li class="list-unchek"><i class="bi bi-x-circle-fill"></i> <del>Posuere
                                            sollicitudin aliquam ultrices</del></li>
                                    <li class="list-unchek"><i class="bi bi-x-circle-fill"></i> <del>Exclusive Customer
                                            Benefits</del></li>
                                    <li class="list-unchek"><i class="bi bi-x-circle-fill"></i> <del>Support via E-mail
                                            and Phone</del></li>
                                </ul>
                            </div>
                            <div class="pricing-btn-wrap"><a href="./pricing"
                                    class="wnr-btn btn-primary btn-bordered price-btn"><span>Get Started</span><i
                                        class="unicon-arrow-up-right"></i></a></div>
                        </div><!-- end .pricing-item-inner-->
                    </div><!-- end .pricing-wrap-->
                </div>
                <div class="col-md-12 col-lg-4 wow fadeInUp" data-wow-delay=".5s">
                    <div class="pricing-wrap">
                        <div class="pricing-item-inner">
                            <div class="pricing-icon"><i class="icon-three-zakat"></i></div>
                            <h4 class="pricing-title">Business Plan</h4>
                            <div class="pricing">
                                <div class="price"><i class="bi bi-currency-dollar currency"></i> 299 <small>.99</small>
                                </div>
                                <span class="pricing-period">Monthly Package</span>
                            </div>
                            <div class="pricing-features-wrap">
                                <ul class="features-list">
                                    <li class="list-item"><i class="bi bi-check-circle-fill"></i> Dui platea eget
                                        aliquam accumsan</li>
                                    <li class="list-item"><i class="bi bi-check-circle-fill"></i> Amet ex habitant nunc
                                        eleifend</li>
                                    <li class="list-item"><i class="bi bi-check-circle-fill"></i> Mattis nunc sed
                                        blandit libero volu</li>
                                    <li class="list-item"><i class="bi bi-check-circle-fill"></i> Amet ex habitant nunc
                                        eleifend</li>
                                    <li class="list-item"><i class="bi bi-check-circle-fill"></i> Mattis nunc sed
                                        blandit libero volu</li>
                                    <li class="list-unchek"><i class="bi bi-x-circle-fill"></i> <del>Posuere
                                            sollicitudin aliquam ultrices</del></li>
                                    <li class="list-unchek"><i class="bi bi-x-circle-fill"></i> <del>Exclusive Customer
                                            Benefits</del></li>
                                    <li class="list-unchek"><i class="bi bi-x-circle-fill"></i> <del>Support via E-mail
                                            and Phone</del></li>
                                </ul>
                            </div>
                            <div class="pricing-btn-wrap"><a href="./pricing"
                                    class="wnr-btn btn-primary btn-bordered price-btn"><span>Get Started</span><i
                                        class="unicon-arrow-up-right"></i></a></div>
                        </div><!-- end .pricing-item-inner-->
                    </div><!-- end .pricing-wrap-->
                </div>
            </div>
        </div>
    </section><!-- end .pricing-->
</main>

{{> solvatech/footer }}