{{> strategy/header }}

{{!-- todo esta en orden de como tienen que ser las vistas --}}

{{!-- sigue navbar.hbs --}}
{{> strategy/navbar }}

<main class="main">

    {{> strategy/home/hero }}
    {{> strategy/home/about }}
    {{> strategy/home/services }}
    {{> strategy/home/steps }}
    {{> strategy/home/call-to-action }}
    {{> strategy/home/testimonials }}
    {{> strategy/home/portfolio }}
    {{> strategy/home/team }}
    {{> strategy/home/pricing }}
    {{> strategy/home/faq }}
    {{> strategy/home/contact }}

</main>


{{> strategy/footer }}

<!-- Hero Section -->

<!-- About Section -->

<!-- Services Section -->

<!-- Steps Section -->

<!-- Call To Action Section -->

<!-- Testimonials Section -->

<!-- Portfolio Section -->

<!-- Team Section -->

<!-- Pricing Section -->

<!-- Faq Section -->

<!-- Contact Section -->

{{!-- el main termina en footer.hbs, esta ahi. --}}